@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("./Images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 100vh;
    margin: 0;
    z-index: -1;
}